.container-fluid {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.alert-danger {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.alert-danger span:hover {
  cursor: pointer;
}

.alert-danger p {
  margin: 0;
}

.cache-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cache-info p {
  margin: 0;
}

.cache-input {
  display: flex;
  gap: 15px;
}

.cache-input input {
  width: 80px;
}

.cache-buttons {
  display: flex;
  gap: 20px;
}

.cache-button {
  width: 200px;
}